*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.image-slider-container {
  max-width: 767px;
  width: 100%;
  height: 500px;
  margin: 100px auto;
  position: relative;
}

.image-slider {
  width: 100%;
  height: 100%;
}

.image-slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.image-slider-btn {
  all: unset;
  font-size: 3rem;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: background-color 100ms ease-in-out;
  cursor: pointer;
  padding: 1rem;
  color: white;
}

.image-slider-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
